<% if action_url == session_url %>
  <% email_val = "wrmcmeans@gmail.com" %>
  <% password_val = "starwars" %>
<% else %>
  <% email_val = "" %>
  <% password_val = "" %>
<% end %>

<form class="user-form" action="<%= action_url %>" method="post">
  <%= auth_token %>
  <input
    type="text"
    name="user[email]"
    placeholder="Email Address"
    value="<%= email_val %>">
  <input
    type="password"
    name="user[password]"
    placeholder="Password"
    value="<%= password_val %>">
  <button><%= button_text %></button>
</form>
