<!DOCTYPE html>
<html>
<head>
  <title>NYThyme's Cookbook</title>
  <link href='https://fonts.googleapis.com/css?family=UnifrakturMaguntia' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <div class="">
    <h3>
      Logged in as
      <a href="<%= api_user_url(current_user) %>"><%= current_user.email %></a>
    </h3>
    <form class="" action="<%= session_url %>" method="post">
      <%= auth_token %>
      <input type="hidden" name="_method" value="delete">
      <button>Log Out</button>
    </form>
  </div>
<% end %>
<%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
